@charset "UTF-8";

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main img{
    display: block;
    margin: auto;
    width: 230px;
    padding: 50px;
    
    
}
nav{
    display: inline-block;
    position: fixed;
    left: 93%;
    
}
a img{
    width: 40px;
    padding: 10px;
}
